.HEAD {
  background-image: linear-gradient(
    to left,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ff64ff,
    #ff29ff,
    #ff64ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff
  );
  border-color: #ffb9ff;
}
.imagen {
  margin: 10px;
}
.tabla {
  width: 100%;
  border: 1px solid #000;
}

th,
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}

.main {
  margin: 1%;
  font: 100% sans-serif;
}

.body {
  margin: 1%;
  font: 100% sans-serif;
}

.NAVBAR {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: linear-gradient(
    to left,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ff64ff,
    #ff29ff,
    #ff64ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff
  );
}

.NAVBAR a {
  text-decoration: none;
  color: black;
  padding: 1%;
  animation-duration: 5s;
}

.NAVBAR a:hover {
  color: rgb(31, 31, 31);
}

.titulo {
  justify-content: center;
  text-align: center;
  font: 100% sans-serif;
  background-image: linear-gradient(
    to left,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ff64ff,
    #ff29ff,
    #ff64ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff,
    #ffb9ff
  );
}

.NAVBAR li a {
  background-color: #fdaffd;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.NAVBAR li a:hover {
  background-color: #ffc8ff;
}

.NAVBAR > li {
  float: left;
}

.NAVBAR li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.NAVBAR li:hover > ul {
  display: block;
}

.NAVBAR li ul li {
  position: relative;
}

.NAVBAR li ul li ul {
  left: 100px;
  top: 0px;
}

ul,
ol {
  list-style: none;
}

.logo{
  width: 80px;
  align-items: center;
}

.flecha{
  width: 30px;
  align-items: center;
}

.ps2case{
  width: 300px;
  align-items: center;
  margin-right: 4%;
}